<footer class="bg-blue-700 text-center md:text-left pt-6">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="px-4 text-white text-base md:text-xs text-center">
                <p class="mb-5 md:mb-2 tracking-normal">
                    <span class="block lg:inline">&copy; {{ company:name }} {{ now | format:Y }}.</span> All rights reserved.
                </p>
                <p class="tracking-normal px-auto">
                    <span class="block lg:inline">
                        Designed and coded with
                        <img src="{{ icon:heart }}"
                             alt="heart" class="px-1 pb-1 relative heart-pulse inline"> by <a
                             href="https://jackford.dev"
                             class="font-bold inherits-color hover:text-white"
                        >Jack Ford</a>.
                    </span>
                    <br class="md:hidden">
                    Proudly using
                    <a href="https://statamic.com"
                       class="font-bold inherits-color hover:text-white"
                    >Statamic</a>
                    and
                    <a href="https://www.tailwindcss.com/"
                       class="font-bold inherits-color hover:text-white"
                    >Tailwindcss</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
