<footer class="bg-blue-700">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="text-gray-50 text-base md:text-xs text-center">
                <p class="text-center mb-1 md:mb-2 tracking-normal">
                    &copy; {{ company:name }} {{ now | format:Y }}. All rights reserved.
                </p>
                <p class="tracking-normal">
                    <span class="block">Designed and coded with <img src="{{ icon:heart }}" class="relative inline heart-pulse"> by <a href="https://jackford.dev" class="inherit-color font-bold hover:text-white">Jack Ford</a>.</span>
                    <br class="lg:hiddden"> Proudly using <a href="https://statamic.com" class="inherit-color font-bold hover:text-white">Statamic</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
