<div class="min-h-screen flex flex-col justify-center items-center relative -mt-20 overflow-hidden bg-gradient-brand">
    <div class="bg-no-repeat bg-top bg-cover opacity-40 absolute z-2 h-full w-full" style="background-image: url('{{ hero_image }}');"></div>
    <div class="pt-50 text-center text-white z-2 relative px-4 mb-9 overflow-hidden">
        <h1 class="max-w-6xl text-4xl lg:text-6xl text-white text-shadow">{{ hero_heading }}</h1>
        <p class="font-handwritten text-lg lg:text-2xl text-center mb-7 px-1">
            {{ hero_text }}
        </p>
    </div>
</div>
