<nav class="border-t-4 border-blue-700">
    <div class="container mx-auto">
        <div class="p-4 flex justify-between items-center">
            <div>
                <h1 class="pb-0 text-2xl sm:text-3xl md:text-4xl font-medium hover:text-blue-700">
                    <a href="{{ site_url }}">
                        {{ company:name }}
                    </a>
                </h1>
            </div>
            <div>
                <div class="hidden md:block md:text-lg">
                    {{ nav:main }}
                        {{ if last }}
                            <a href="{{ url }}" class="ml-8 font-medium text-blue-600 hover:text-blue-700 focus:outline-none focus:text-blue-700 transition duration-150 ease-in-out">
                                {{ title }}
                            </a>
                        {{ else }}
                            <a href="{{ url }}" class="first:ml-0 ml-8 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">
                                {{ title }}
                            </a>
                        {{ /if }}
                    {{ /nav:main }}
                </div>



                <div class="-mr-2 flex items-center md:hidden">
                    <button type="button" @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 rounded-md text-blue-600 hover:text-blue-700 focus:outline-none  focus:text-blue-700 transition duration-150 ease-in-out">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        {{ partial:mob-navigation }}


    </div>
</nav>
