{{ company:social_links }}
    {{ if platform == "twitter" }}
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ handle }}">
        <meta name="twitter:title" content="{{ meta_title or company:global_meta_title  }}">
        <meta name="twitter:text:description" content="{{ meta_description or company:global_meta_description }}">
        <meta name="twitter:image" content="{{ meta_image or company:global_meta_image  }}" />
    {{ /if }}
    {{ if platform == "facebook" }}
        <!-- Facebook -->
        <meta property="og:url" content="{{ config:app:url }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ meta_title or company:global_meta_title }}" />
        <meta property="og:description" content="{{ meta_title or company:global_meta_description}}" />
        <meta property="og:image" content="{{ meta_image or company:global_meta_image }}" />
    {{ /if }}
{{ /company:social_links }}
