<!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8">

        <link rel="shortcut icon" href="{{ company:favicon }}">
        <link rel="apple-touch-icon" href="{{ company:favicon }}">
        <link rel="icon" href="{{ company:favicon }}">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ title }} | {{ company:name }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="name" content="{{ company:global_meta_title }}">
        <meta name="description" content="{{ company:global_meta_description }}" />
        <meta name="keywords" content="{{ company:global_meta_keywords }}">
        <meta name="Copyright" content="{{ company:name }}" >

        <link rel="canonical" href="{{ config:app:url }}">
        <link rel="stylesheet" href="/css/site.css"/>

        {{ partial:social }}

    </head>
    <body class="bg-gray-50 h-screen antialiased leading-normal">
        <div id="site">
            {{ partial:navigation }}

            {{ partial src="banners/fixed" }}

            {{ template_content }}

            {{ partial:footer }}

            {{ if settings:show_scroll_to_top }}
                <visible when-hidden="#navigation">
                    <scroll-link
                        href="#navigation"
                        class="flex items-center justify-center h-8 w-8 rounded-md bg-blue-700 text-white text-2xl fixed z-10 right-0 bottom-0 mr-2 mb-4"
                    >
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                        </svg>
                    </scroll-link>
                </visible>
            {{ /if }}
        </div>

        <script src="/js/site.js"></script>
    </body>
</html>
